[Desktop Entry]
Version=1.0
Type=Application
Exec=/opt/xxe-pro/bin/xxe
Icon=/opt/xxe-pro/bin/icon/xxe.gif
Name=XMLmind XML Editor (Pro Version)
GenericName=XML Editor
Comment=XML file editor
Categories=Development;
